/* CUSTOM FONTS 
@font-face {
  font-family: 'Bahnschrift2';
  src: url("../font/BAHNSCHRIFT.TTF");
}*/

/* CUSTOM COLORS 
#0C0E16
#1F304E
#595959
#7992B1
*/

/* 1.GENERAL STYLE */
html {
  box-sizing: border-box;
  font-family: Bahnschrift, 'Roboto', sans-serif;
  font-size: 18px;
  color: white;
  text-align: center;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1 {
  display: none;
}

h2 {
  font-size: 2rem;
}

h3 {
  color: #747474;
}

ul {
  list-style: none;
  padding: 0%;
}

li {
  display: inline;
}

/* 2.HEADER */
nav {
  position: fixed;
  z-index: 10;
  top: 0%;
  width: 100%;
  height: 4rem;
  background-color: #0C0E16;
  border-bottom: 1px solid #595959;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}  

nav a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  transition: color 100ms ease-in;
}

nav a:hover {
  color: #7992B1;
}

svg {
  fill: #7992B1;
  transition: fill 150ms ease-in;
  width: 1.5rem;
  height: auto;
  margin: 0.5rem;
}

svg:hover {
  fill: white;
}

.clear {
  height: 4rem;
  background-color: #0C0E16;
}

.clear-nobg {
  height: 4rem;
}

.clear-white {
  height: 4rem;
  background-color: white;
}

.clear-blue {
  height: 4rem;
  background-color: #1F304E;
}

.logo {
  background-color: #0C0E16;
}

figure {
  margin: 0%;
  background-image: url("../img/bg_dark_TRUE_2560px.jpg");
  background-size: contain;
  background-attachment: fixed;
}

figure img {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  max-width: 50%;
  height: auto;
}

/* VIDEO */
.youtube {
  background-color: #0C0E16;
  min-width: 200px;
  min-height: 200px;
}

iframe {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* 3.MAIN */

/* BIO */
#bio {
  background-color: white;
  color: #0C0E16;
}

#bio article {
  width: 50%;
  margin: auto;
}

.band-img img{
  max-width: 100%;
  margin: 0;
}

#bio p {
  text-align: justify;
}

/* MUSIC */
#music {
  background-color: #0C0E16;
  /*background-color: #1F304E;*/
}

.others {
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}

.others a {
  color: white;
  padding: 1rem 2rem;
  background-color: #7992B1;
  text-decoration: none;
  transition: all 250ms ease-out;
}

.others a:hover {
  background-color: #1F304E;
}


/* TOUR */
#tour {
  background-color: white;
  color: #0C0E16;
}

.songkick {
  width: 50%;
  margin: auto;
  padding-bottom: 1rem;
}


/* 4.FOOTER */

footer {
  background-image: url("../img/bg_dark_TRUE_2560px.jpg");
  background-size: contain;
}

.no-bmargin {
  margin-bottom: 0;
}

#contact a {
  display: block;
  text-decoration: none;
  color: white;
  transition: color 150ms ease-in;
}

#contact a:hover {
  color: #7992B1;
}

.credits {
  color: #595959;
}